# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# The `CODEOWNERS` file is owned by repo owner
/.github/CODEOWNERS @warrensbox

# The entries are placed in a historical order
# 20240408: initial CODEOWNERS commit (added repo owner and all current collaborators)
# 20250301: take code ownership for safekeeping after more than half a year of inactivity (@jukie @MatrixCrawler @crablab)
* @warrensbox @yermulnik @MatthewJohn
