# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
      # Check for updates at 7am UTC.
      time: "07:00"
    commit-message:
      prefix: "go:"
    labels:
      - golang
      - dependencies
  - package-ecosystem: "github-actions"
    directory: /
    schedule:
      interval: daily
      time: "07:00"
    commit-message:
      prefix: "gh-actions:"
    labels:
      - gh-actions
      - dependencies
