# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2.1
jobs:
  build:
    docker:
      - image: cimg/go:1.18

    working_directory: /home/circleci/go/src/github.com/warrensbox/terraform-switcher

    steps:
      - checkout
      - run:
          command: |
            set -e
            echo "Building website"
            sudo apt-get update
            sudo apt-get install python3 python3-pip
            pip3 install mkdocs-material
            cd www
            mkdocs gh-deploy --force
            cd ..

            echo "Building application"
            go get -v -t -d ./...
            go vet -tests=false ./...
            go test -v ./...
            mkdir -p build
            go build -v -o build/tfswitch
            find ./test-data/* -type d -print0 | while read -r -d $'\0' TEST_PATH; do
                ./build/tfswitch -c "${TEST_PATH}" || exit 1
            done

  release:
    docker:
      - image: cimg/go:1.18

    working_directory: /home/circleci/go/src/github.com/warrensbox/terraform-switcher

    steps:
      - checkout
      - run:
          command: |
            set -e
            source version
            export RELEASE_VERSION;
            RELEASE_VERSION=$RELEASE_VERSION.${CIRCLE_BUILD_NUM}
            export RELEASE_VERSION;
            echo $RELEASE_VERSION
            mkdir -p /home/circleci/bin
            export PATH="/home/warrensbox/bin:${PATH}"
            rm -rf dist
            git config user.email "warren.veerasingam@gmail.com"
            git config user.name "warrensbox"
            git tag -a ${RELEASE_VERSION} -m "Release Version"
            git push origin ${RELEASE_VERSION}
            curl -sL https://git.io/goreleaser | bash

workflows:
  version: 2

  build_and_test:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - gh-pages
      - release:
          requires:
            - build
          filters:
            branches:
              only:
              - release

