# https://github.com/fuxingloh/multi-labeler
# https://www.conventionalcommits.org/
# https://github.com/warrensbox/terraform-switcher/labels

on:
  pull_request:
    types: [opened, edited, synchronize, ready_for_review]
    branches: [master, main]  # zizmor: ignore[dangerous-triggers]

  pull_request_target: # for OSS with public contributions (forked PR)
    types: [opened, edited, synchronize, ready_for_review]
    branches: [master, main]

permissions:
  # Setting up permissions in the workflow to limit the scope of what it can do. Optional!
  contents: read # the config file
  issues: write # for labeling issues (on: issues)
  pull-requests: write # for labeling pull requests (on: pull_request_target or on: pull_request)
  statuses: write # to generate status
  checks: write # to generate status

jobs:
  labeler:
    name: Multi Labeler
    runs-on: ubuntu-latest
    steps:
      - uses: fuxingloh/multi-labeler@b15a54460c38f54043fa75f7b08a0e2aa5b94b5b # v4.0.0
