name: Update Go Module Index
permissions: {} # yamllint disable-line rule:braces

on:
  release:
    types:
      - published

jobs:
  bump-index:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6.0.2
        with:
          persist-credentials: false
      - name: Ping endpoint
        run: curl "https://proxy.golang.org/github.com/warrensbox/terraform-switcher/@v/$(git describe HEAD --tags --abbrev=0).info"
