---
name: super-linter

on: # yamllint disable-line rule:truthy
  push: null
  pull_request: null

permissions: {} # yamllint disable-line rule:braces

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ !contains(fromJSON('["refs/heads/main", "refs/heads/master"]'), github.ref) }}

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0

      - name: super-linter
        uses: super-linter/super-linter/slim@2bdd90ed3262e023ac84bf8fe35dc480721fc1f2 # v8.2.1
        env:
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_EXCLUDE: "^(/?|/github/workspace/)test-data/"
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_JSCPD: false
          VALIDATE_GO: false
          BASH_EXEC_IGNORE_LIBRARIES: true
